<h1>Tasks All</h1>
<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" id=<%= task.title%> name=<%= task.title%> <%=task.completed ? "checked" : " "%>/>
    <label for=<%= task.title%>><%= link_to task.title, task_path(task)%></label>
  </div>
<% end %>

<div>------------------------------------</div>

<div class="new-task">
  <%= link_to "+ Add a new task", new_task_path %>
</div>
