<h1>New Task</h1>

<%= form_with model: @tasks do |task| %>
  <%= task.label :title%>
  <%= task.text_field :name%>

  <%= task.label :details%>
  <%= task.text_field :details%>
  <%= task.submit "Create task"%>
<% end %>
