<h1><%= @task.title %></h1>

<div class="callout">
  <p><%= @task.details %></p>
</div>

<div class="status">
  <input type="checkbox" id=<%= @task.title%> name=<%= @task.title%> <%= @task.completed ? "checked" : " "%>/>
  <label for=<%= @task.title%>>
    <%= @task.completed ? "This task is completed!" : "This task is NOT completed yet!"%>
  </label>
</div>

<div class="back">
<br>
  <%= link_to "Back to list", tasks_path %>
</div>
